@charset "UTF-8";
/*-----------------variables fuentes---------------*/
@import url("http://fonts.cdnfonts.com/css/meticula");
/*-----------------variables fin fuentes---------------*/
/*-----------------variables color---------------*/
/*-----------------Fin variables color---------------*/
/*-----------------margin barra de nevagación---------------*/
@import url("http://fonts.cdnfonts.com/css/meticula");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Meticula", sans-serif; }

.Body {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "menu" "main" "footer";
  grid-template-rows: 50px auto 80px;
  background: radial-gradient(circle, #ff0534 10%, #331a38 90%);
  /* animation: <name> <duration> <timing-function> <delay>
                <iteration-count> <direction> <fill-mode> <play-state> */
  background-size: 3%;
  background-position: center;
  animation-name: CambioDeIntensidad;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.PantallaDeCarga {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  background: #dcdcdc;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: clip-path 3s ease;
  transition-delay: 2s;
  clip-path: circle(111.4% at 49% 0); }
  .PantallaDeCarga .PantallaDeCarga__contenedor {
    width: 206px;
    height: 206px;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */ }
    .PantallaDeCarga .PantallaDeCarga__contenedor div {
      width: 100vh;
      height: 100vh;
      position: absolute;
      border-width: 6.12px;
      border-style: solid;
      opacity: 1;
      border-radius: 50%;
      animation: loader 3s cubic-bezier(0, 0.2, 0.8, 1) infinite; }
    .PantallaDeCarga .PantallaDeCarga__contenedor .contenedor-1 {
      border-color: #ff0534;
      animation-delay: 0s; }
    .PantallaDeCarga .PantallaDeCarga__contenedor .contenedor-2 {
      border-color: #331a38;
      animation-delay: -1.2s; }

.pantalla {
  clip-path: circle(0% at 50% 0); }

/*------Header-----*/
.nav {
  grid-area: menu;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #331a38;
  font-size: 1rem;
  border-bottom: 2px solid #ff0534; }
  .nav .nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%; }
    .nav .nav__menu .nav__links {
      display: inherit;
      align-items: center;
      justify-content: space-between;
      margin-left: 300px;
      margin-right: 300px;
      height: 100%;
      width: 100%;
      transition-property: all;
      transition-duration: 300ms;
      transition-timing-function: linear; }
      .nav .nav__menu .nav__links .nav__item {
        color: #dcdcdc; }
        .nav .nav__menu .nav__links .nav__item:hover {
          scale: 1.1;
          filter: drop-shadow(0px 5px 0.3rem #ff0534); }
        .nav .nav__menu .nav__links .nav__item .logo {
          width: 30px;
          height: 35px; }
      .nav .nav__menu .nav__links .nav__item a:link, .nav .nav__menu .nav__links .nav__item a:visited {
        color: #dcdcdc; }
      .nav .nav__menu .nav__links .nav__item--logo {
        font-size: 0px;
        /*font-size en este caso esta utilizado para eliminar un espacio fantasma que se genera al colocar la imagen */ }

/*------Main----- */
.main-index {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #dcdcdc; }
  .main-index .main-index__presentacion {
    text-align: center;
    color: var(--color-text);
    padding-bottom: 5vh; }
  .main-index .main-index__texto {
    color: var(--color-text);
    text-align: center;
    height: auto;
    width: 50%; }

.main-contacto {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-contacto .form {
    display: grid;
    grid-template-areas: "nombre                     apellido" "email                      email" "comentarios            comentarios" "btn                         btn";
    grid-template-columns: 300px 300px;
    grid-template-rows: 50px 50px 200px 50px;
    column-gap: 10px;
    row-gap: 10px; }
    .main-contacto .form .form__item {
      position: relative;
      font-size: 16px;
      color: #dcdcdc;
      border: none;
      outline: none; }
      .main-contacto .form .form__item::before {
        content: "";
        display: block;
        width: 0%;
        left: 50%;
        height: 2px;
        position: absolute;
        bottom: 0;
        background-color: #dcdcdc;
        transition: all 1s; }
      .main-contacto .form .form__item:hover::before {
        width: 100%;
        left: 0; }
      .main-contacto .form .form__item .input {
        color: #dcdcdc;
        background-color: rgba(51, 26, 56, 0.4);
        font-size: 16px;
        width: 100%;
        height: 100%;
        border: none;
        padding: 0 15px;
        outline: none; }
      .main-contacto .form .form__item .input--text {
        padding: 15px 15px;
        resize: none; }
    .main-contacto .form .form__item--Nombre {
      grid-area: nombre; }
    .main-contacto .form .form__item--Apellido {
      grid-area: apellido; }
    .main-contacto .form .form__item--email {
      grid-area: email; }
    .main-contacto .form .form__item--textarea {
      grid-area: comentarios;
      resize: none; }
    .main-contacto .form .btn {
      grid-area: btn;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #dcdcdc;
      background-color: #ff0534;
      font-size: 1.2rem;
      border: none;
      border-radius: 10px; }
      .main-contacto .form .btn span {
        transition: .4s ease-in-out all;
        position: absolute;
        left: 45%; }
      .main-contacto .form .btn i {
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 2;
        left: -40px;
        transition: .3s ease-in-out all;
        opacity: 0; }
      .main-contacto .form .btn:hover i {
        left: calc(100% - 50px);
        opacity: 1; }
      .main-contacto .form .btn:hover span {
        left: 20px; }

.main-estudios {
  grid-area: main;
  align-self: center; }
  .main-estudios .estudios {
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }
    .main-estudios .estudios .estudios__contenedor {
      width: 100%;
      text-align: center; }
      .main-estudios .estudios .estudios__contenedor .estudios__img {
        width: 250px;
        height: 250px; }

.main-trabajos {
  grid-area: main; }
  .main-trabajos .galeria {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    .main-trabajos .galeria .galeria__contenedor {
      position: relative;
      overflow: hidden; }
      .main-trabajos .galeria .galeria__contenedor .galeria__hover {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 0%;
        background-color: rgba(51, 26, 56, 0.4);
        visibility: hidden;
        transition: all;
        transition-duration: 1000ms;
        transition-timing-function: ease; }
        .main-trabajos .galeria .galeria__contenedor .galeria__hover .hover-icon {
          height: 50px;
          width: 50px; }
      .main-trabajos .galeria .galeria__contenedor .image-size {
        width: 100%;
        height: 100%; }
      .main-trabajos .galeria .galeria__contenedor:hover .galeria__hover {
        visibility: visible;
        height: 100%; }

.main-sobre-mi {
  grid-area: main; }
  .main-sobre-mi .main-sobre-mi__contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .main-sobre-mi .main-sobre-mi__contenedor .main-sobre-mi__texto, .main-sobre-mi .main-sobre-mi__contenedor .main-sobre-mi__cv {
      color: #dcdcdc;
      text-align: center;
      width: 50%; }
      .main-sobre-mi .main-sobre-mi__contenedor .main-sobre-mi__texto h1, .main-sobre-mi .main-sobre-mi__contenedor .main-sobre-mi__cv h1 {
        margin: 30px 0px; }
    .main-sobre-mi .main-sobre-mi__contenedor .main-sobre-mi__cv {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px; }
      .main-sobre-mi .main-sobre-mi__contenedor .main-sobre-mi__cv a {
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgba(51, 26, 56, 0.4);
        border: 1px solid #331a38;
        color: #dcdcdc;
        transition: all 1s ease; }
        .main-sobre-mi .main-sobre-mi__contenedor .main-sobre-mi__cv a:hover {
          scale: 1.3;
          color: #ff0534; }

/*------Footer----- */
.footer {
  grid-area: footer;
  color: #dcdcdc;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .footer .icons {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin-bottom: 15px; }
    .footer .icons a:link, .footer .icons a:visited {
      color: #dcdcdc; }
    .footer .icons .fa-lg:hover {
      /*transition: <propiedad> <duracion> <funcion-tiempo> <retraso>;*/
      color: #ff0534;
      scale: 1.5;
      transition-property: all;
      transition-duration: 300ms;
      transition-timing-function: linear; }

/*------responsive design----- */
/*-----------------variables fuentes---------------*/
/*-----------------variables fin fuentes---------------*/
/*-----------------variables color---------------*/
/*-----------------Fin variables color---------------*/
/*-----------------margin barra de nevagación---------------*/
/*------responsive design----- */
@media screen and (max-width: 1200px) {
  .nav .nav__menu .nav__links {
    margin-left: 250px;
    margin-right: 250px; } }

@media screen and (max-width: 992px) {
  .nav .nav__menu .nav__links {
    margin-left: 150px;
    margin-right: 150px; }
  .main-trabajos .galeria {
    grid-template-columns: repeat(3, 1fr); }
    .main-trabajos .galeria .lg-hidden {
      display: none; } }

@media screen and (max-width: 768px) {
  .nav .nav__menu .nav__links {
    margin-left: 100px;
    margin-right: 100px; }
  .main-index .main-index__texto {
    width: 80%; }
  .main-trabajos .galeria {
    grid-template-columns: repeat(2, 1fr); }
    .main-trabajos .galeria .lg-hidden {
      display: block; }
  .main-sobre-mi .main-sobre-mi__contenedor .main-sobre-mi__texto, .main-sobre-mi .main-sobre-mi__contenedor .main-sobre-mi__cv {
    width: 80%; } }

@media screen and (max-width: 576px) {
  .Body {
    grid-template-rows: 200px auto 100px; }
  .nav {
    position: static; }
    .nav .nav__menu .nav__links {
      flex-direction: column;
      justify-content: space-around; }
    .nav .nav__menu .nav__item--logo {
      order: -1; }
  .main-trabajos .galeria {
    grid-template-columns: 1fr; }
  .main-contacto .form {
    display: grid;
    grid-template-areas: "nombre" "apellido" "email" "comentarios" "btn";
    grid-template-columns: 300px;
    grid-template-rows: 50px 50px 50px 200px 50px;
    column-gap: 10px;
    margin: 50px 0 50px 0; }
  .main-index__texto {
    height: auto;
    margin-left: 5vh;
    margin-right: 5vh; } }

/*------Fin responsive design----- */
/*------Animaciones----- */
@keyframes CambioDeIntensidad {
  0% {
    background-size: 3%; }
  50% {
    background-size: 8%; }
  100% {
    background-size: 3%; } }

@keyframes loader {
  0% {
    top: 95.88px;
    left: 95.88px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: -11.22px;
    left: -11.22px;
    width: 214.20000000000002px;
    height: 214.20000000000002px;
    opacity: 0; } }

/*------ Fin Animaciones----- */
