/*-----------------variables---------------*/
/*-----------------Fin variables---------------*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

.Body {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "menu" "main" "footer";
  grid-template-rows: 50px auto 80px;
  background: radial-gradient(circle, #f34082 0%, #0f1a45 100%);
  /* animation: <name> <duration> <timing-function> <delay>
                <iteration-count> <direction> <fill-mode> <play-state> */
  background-size: 3%;
  background-position: center;
  animation-name: CambioDeIntensidad;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

/*------Header-----*/
.nav {
  grid-area: menu;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #f34082;
  font-weight: 600; }
  .nav .nav__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%; }
    .nav .nav__menu .nav__links {
      display: inherit;
      align-items: center;
      justify-content: space-between;
      margin-left: 300px;
      margin-right: 300px;
      height: 100%;
      width: 100%; }
      .nav .nav__menu .nav__links .nav__item {
        color: #181818; }
        .nav .nav__menu .nav__links .nav__item:hover {
          text-shadow: 0px 5px 0.5rem #181818;
          scale: 1.1;
          transition-property: all;
          transition-duration: 300ms;
          transition-timing-function: linear; }
        .nav .nav__menu .nav__links .nav__item .logo {
          width: 30px;
          height: 35px; }
      .nav .nav__menu .nav__links .nav__item a:link {
        color: #181818; }
      .nav .nav__menu .nav__links .nav__item a:visited {
        color: #181818; }
      .nav .nav__menu .nav__links .nav__item--logo {
        font-size: 0px; }
        .nav .nav__menu .nav__links .nav__item--logo:hover {
          background-color: rgba(15, 26, 69, 0.2); }

/*------Fin Header----- */
/*------Main----- */
/*------Main Index----- */
.main-index {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .main-index .main-index__presentacion {
    text-align: center;
    color: var(--color-text);
    padding-bottom: 5vh; }
  .main-index .main-index__texto {
    color: var(--color-text);
    text-align: center;
    height: auto;
    margin-left: 20vh;
    margin-right: 20vh; }

/*------Fin Main Index----- */
/*---- Main contacto ----- */
.main-contacto {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-contacto .form {
    display: grid;
    grid-template-areas: "nombre apellido" "email email" "comentarios comentarios";
    grid-template-columns: 300px 300px;
    grid-template-rows: 50px 50px 200px;
    column-gap: 10px;
    row-gap: 10px; }
    .main-contacto .form .form__item {
      position: relative;
      font-size: 16px;
      color: #181818;
      border: none;
      outline: none; }
      .main-contacto .form .form__item::before {
        content: "";
        display: block;
        width: 0%;
        left: 50%;
        height: 2px;
        position: absolute;
        bottom: 0;
        background-color: #181818;
        transition: all 1s; }
      .main-contacto .form .form__item:hover::before {
        width: 100%;
        left: 0; }
      .main-contacto .form .form__item .input {
        color: #181818;
        background-color: rgba(15, 26, 69, 0.2);
        font-size: 16px;
        width: 100%;
        height: 100%;
        border: none;
        padding: 0 15px;
        outline: none; }
      .main-contacto .form .form__item .input--text {
        padding: 15px 15px;
        resize: none; }
    .main-contacto .form .form__item--Nombre {
      grid-area: nombre; }
    .main-contacto .form .form__item--Apellido {
      grid-area: apellido; }
    .main-contacto .form .form__item--email {
      grid-area: email; }
    .main-contacto .form .form__item--textarea {
      grid-area: comentarios;
      overflow: auto;
      resize: none; }

/*------Fin Main conctacto----- */
/*------ Main estudios----- */
.main-estudios {
  grid-area: main;
  align-self: center; }
  .main-estudios .estudios {
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }
    .main-estudios .estudios .estudios__contenedor {
      width: 100%;
      text-align: center; }
      .main-estudios .estudios .estudios__contenedor .estudios__img {
        width: 250px;
        height: 250px; }
      .main-estudios .estudios .estudios__contenedor .estudios__img--html {
        width: 250px;
        height: 250px;
        padding: 10px; }

/*------Fin Main estudios----- */
/*------ Main Trabajos----- */
.main-trabajos {
  grid-area: main;
  align-self: center;
  padding: 0 20px 0 20px; }
  .main-trabajos .galeria {
    display: grid;
    /*probando grid responsive para no utilizar media queri */
    grid-auto-rows: 185px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3px; }
    .main-trabajos .galeria .galeria__box {
      background-image: url("../images/estudios/boostrap.png");
      background-size: contain;
      transition: all 1s; }
      .main-trabajos .galeria .galeria__box:hover {
        scale: 1.3; }

/*------ Fin Main Trabajos----- */
/*------  Main sobre Mi----- */
.main-sobre-mi {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .main-sobre-mi .main-sobre-mi__texto {
    margin: 20px 10%; }

/*------ Fin Main Sobre Mi----- */
/*------Fin main----- */
/*------Footer----- */
.footer {
  grid-area: footer;
  color: #9e9e9e;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .footer .icons {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin-bottom: 15px; }
    .footer .icons .fa-lg:hover {
      /*transition: <propiedad> <duracion> <funcion-tiempo> <retraso>;*/
      color: #f34082;
      scale: 1.5;
      transition-property: all;
      transition-duration: 300ms;
      transition-timing-function: linear; }

/*------Fin Footer----- */
/*------responsive design----- */
/*------responsive design----- */
@media screen and (max-width: 1200px) {
  .nav .nav__menu .nav__links {
    margin-left: 250px;
    margin-right: 250px; } }

@media screen and (max-width: 992px) {
  .nav .nav__menu .nav__links {
    margin-left: 180px;
    margin-right: 180px; } }

@media screen and (max-width: 768px) {
  .nav .nav__menu .nav__links {
    margin-left: 100px;
    margin-right: 100px; } }

@media screen and (max-width: 576px) {
  .Body {
    grid-template-rows: 200px auto 100px; }
  .nav .nav__menu .nav__links {
    flex-direction: column;
    justify-content: space-around; }
  .nav__item--logo {
    order: -1; }
  .main-contacto .form {
    display: grid;
    grid-template-areas: "nombre" "apellido" "email" "comentarios";
    grid-template-columns: 300px;
    grid-template-rows: 50px 50px 50px 200px;
    column-gap: 10px;
    margin: 50px 0 50px 0; }
  .main-index__texto {
    height: auto;
    margin-left: 5vh;
    margin-right: 5vh; } }

/*------Fin responsive design----- */
/*------Animaciones----- */
@keyframes CambioDeIntensidad {
  0% {
    background-size: 3%; }
  50% {
    background-size: 8%; }
  100% {
    background-size: 3%; } }

/*------ Fin Animaciones----- */
