/*-----------------variables---------------*/
$color-principal:rgb(15,26,69);
$color-principal__transparencia: rgba(15,26,69,0.2);
$color-secundario: rgb(243, 64, 130);
$color-text: rgb(24, 24, 24) ;
$color-text-footer: rgb(158, 158, 158) ;
/*-----------------Fin variables---------------*/