.nav {
    grid-area: menu;  
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: $color-principal;
    font-size: 1rem;
    border-bottom: 2px solid $color-secundario;
    .nav__menu {
        display: flex;
        flex-direction: row ;
        justify-content: center;
        height: 100%;

        .nav__links { 
            display: inherit;
            align-items: center;
            justify-content: space-between;
            margin-left:  $margin-nav;
            margin-right: $margin-nav;
            height: 100%;
            width: 100%;
            transition-property: all;
            transition-duration: 300ms ;
            transition-timing-function: linear;

            .nav__item {
                color: $color-text ;

                &:hover {
                    scale: 1.1;
                    filter: drop-shadow(0px 5px 0.3rem $color-secundario);
                }
                .logo {
                    width: 30px;
                    height: 35px;
                    
                }
            }
            .nav__item  {
                a:link, a:visited {color: $color-text;
                }
            }
            .nav__item--logo {
                font-size: 0px;
    /*font-size en este caso esta utilizado para eliminar un espacio fantasma que se genera al colocar la imagen */
                
            }
        }
    }
}