.nav {
    grid-area: menu;  
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: $color-principal;
    font-size: 1rem;
    border-bottom: 2px solid $color-secundario;
    .nav__menu {
        display: flex;
        flex-direction: row ;
        justify-content: center;
        height: 100%;

        .nav__links { 
            display: inherit;
            align-items: center;
            justify-content: space-between;
            margin-left:  $margin-nav;
            margin-right: $margin-nav;
            height: 100%;
            width: 100%;

            .nav__item {
                color: $color-text ;

                &:hover {
                    text-shadow: 0px 10px 0.4rem $color-secundario;
                    scale: 1.1;
                    transition-property: all;
                    transition-duration: 300ms ;
                    transition-timing-function: linear;
                }
                .logo {
                    width: 30px;
                    height: 35px;
                    
                }
            }
            .nav__item a:link {
                color: $color-text;
            }
            .nav__item a:visited {
                color: $color-text;
            }
            .nav__item--logo {
                font-size: 0px;

                &:hover {
                    background-color:$color-principal__transparencia;
                }
            }
        }
    }
}