*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
    box-sizing: border-box;
    font-family: $font-general ;
}
Body {
    display: grid;
    min-height: 100vh;
    grid-template-areas:    "menu"
                            "main"
                            "footer";
    
    grid-template-rows: 50px auto 80px;
    background: radial-gradient(circle, $color-secundario 10%, $color-principal 90%);
    /* animation: <name> <duration> <timing-function> <delay>
                <iteration-count> <direction> <fill-mode> <play-state> */
    background-size: 3%;
    background-position: center;
    animation-name: CambioDeIntensidad ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.PantallaDeCarga {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    background: $color-principal;
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: clip-path 1.2s ease-in-out;
    transition-delay: 2.5s;
    clip-path: circle(141.2% at 100% 0);

    .PantallaDeCarga__contenedor {
        width: 206px;
        height: 206px;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */

        div {
            width: 100vh;
            height: 100vh;
            position: absolute;
            border-width: 6.12px;
            border-style: solid;
            opacity: 1;
            border-radius: 50%;
            animation: loader 3s cubic-bezier(0,0.2,0.8,1) infinite;

            
        }
        .contenedor-1 {
            border-color: $color-text;
            animation-delay: 0s;
        
        }
        .contenedor-2 {
            border-color: $color-secundario;
            animation-delay: -1.2s;
        }
}
}
.pantalla {
    clip-path: circle(0% at 100% 0);
}



