/*------responsive design----- */
// Mapa
$breackpoints: (
    sm: 576px ,
    md: 768px ,
    lg: 992px ,
    xl: 1200px 
);

@mixin desktop-first ($breackpoint) {
    @if map-has-key($breackpoints, $breackpoint) {
        @media screen and (max-width: map-get($breackpoints , $breackpoint)) {
            @content;
        }
        
    } @else {
        @error "el valor #{ $breackpoint } no ah sido declarado como breackpoints";
    }
}

@include desktop-first(xl){
    .nav {
        .nav__menu {
            .nav__links {
                margin-left: 250px;
                margin-right: 250px;  
            }
        }
    }
}
@include desktop-first(lg) {
    .nav {
        .nav__menu {
            .nav__links {
                margin-left: 180px;
                margin-right: 180px;   
            }
        }
    }

    .main-trabajos {
        .galeria {
            grid-template-columns: repeat(3,1fr);

            .lg-hidden {
                display: none;
            }
            }
    } 
}
@include desktop-first(md) {
    .nav {
        .nav__menu {
            .nav__links {
                margin-left: 100px;
                margin-right: 100px;   
            }
        }
    }

    .main-trabajos {
        .galeria {
            grid-template-columns: repeat(2,1fr);
            }
    } 
}
@include desktop-first(sm) {
    .Body {
        grid-template-rows: 200px auto 100px;
    }
    .nav {
        .nav__menu {
            .nav__links {
                flex-direction: column;
                justify-content: space-around;   
            }
            .nav__item--logo {
                order: -1;
            }
        }
    }

    .main-trabajos {
        .galeria {
            grid-template-columns:1fr;
            }
    } 
    .main-contacto {

        .form {
            display: grid;
            grid-template-areas:                                            "nombre"
                                                                            "apellido"
                                                                            "email"
                                                                            "comentarios"
                                                                            "btn";
            grid-template-columns: 300px ;
            grid-template-rows: 50px 50px 50px 200px 50px;
            column-gap: 10px;
            margin: 50px 0 50px 0;
        }
}


    .main-index__texto {
        height: auto;
        margin-left: 5vh;
        margin-right: 5vh;
        
    }
    
}

/*------Fin responsive design----- */
/*------Animaciones----- */
@keyframes CambioDeIntensidad {
    0% {
        background-size: 3%;
    }
    
    50% {
        background-size: 8%;
    }
    
    100%{
        background-size: 3%;
    } 
}
/*------ Fin Animaciones----- */