/*-----------------variables fuentes---------------*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$font-general:'Rubik', sans-serif;
/*-----------------variables fin fuentes---------------*/
/*-----------------variables color---------------*/
$color-principal:#331a38;
$color-principal__transparencia: rgba(51, 26, 56,0.4);
$color-secundario: #ff0534;
$color-text: #dcdcdc ;
/*-----------------Fin variables color---------------*/
/*-----------------variables Texto---------------*/
$Titulo: 2rem ;
$text: 1.2rem ;
$text-nav: 1rem;
/*-----------------Fin variables Texto---------------*/


/*-----------------margin barra de nevagación---------------*/
$margin-nav: 300px;